# ESP-IDF & C/C++ Build
build/
**/build/
*.o
*.a
*.out
*.exe
*.bin
*.elf
*.map
flasher_args.json
sdkconfig.old
/components/.idf/
**/components/.idf/
managed_components/
dependencies.lock
.espressif/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
compile_commands.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
venv/
.venv/
env/

# IDEs & Ferramentas
.vscode/
.clangd/
.ccls-cache/
*.user
*.workspace
*.suo
*.sln.docstates

# OS & Temporários
.DS_Store
.AppleDouble
.LSOverride
.directory
*~
*.swp
*.swo
*.bak
*.tmp
*.log
Thumbs.db
ehthumbs.db
Desktop.ini